:root {
    --my-blue: #1992d4;
    --my-dark-blue: #1578ad;
    --my-grey: #e2e8f0;
    --my-gold: rgb(245, 192, 59);
    --my-blue-svg: invert(72%) sepia(80%) saturate(6329%) hue-rotate(175deg) brightness(97%) contrast(80%);
    --my-white-svg: invert(98%) sepia(12%) saturate(119%) hue-rotate(254deg) brightness(114%) contrast(100%);
    --my-black-svg: invert(0%) sepia(2%) saturate(0%) hue-rotate(173deg) brightness(97%) contrast(103%);
    --my-box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.25);
}

/* CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
*:not(dialog) {
    margin: 0;
}
p {
    text-wrap: pretty;
}
h1 {
    text-wrap: balance;
    font-size: 40px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    font-family: inherit;
}

body {
    margin: 0;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: "Roboto", sans-serif;
}

/* For images */

.icon {
    max-height: 1em;
    filter: var(--my-white-svg);
}

.black-icon {
    filter: var(--my-black-svg);
}

.profile-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: var(--my-grey);
    flex-shrink: 0;
}

.user-img {
    background: url(images/profiles/blehh.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-one {
    background: url(images/profiles/beast.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-two {
    background: url(images/profiles/mindful.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-three {
    background: url(images/profiles/funny.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-four {
    background: url(images/profiles/yokan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Sidebar content */

#sidebar {
    background-color: var(--my-blue);
    color: white;
    padding: 20px;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

#logo {
    min-height: 3em;
}

#title {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#sidebar ul {
    margin-left: 15px;

    display: grid;
    grid-template-rows: 1fr;
    gap: 30px;
}

#sidebar li {
    font-size: 30px;

    display: flex;
    gap: 20px;
    align-items: center;
}

#sidebar li:hover {
    text-decoration: underline;
}

/* Header content */

#header {
    padding: 20px 60px;
    font-weight: 600;
    box-shadow: var(--my-box-shadow);
}

/* Top of header content */

#header-top {
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    height: 40px;

    display: flex;
    gap: 20px;
}

form button {
    background-color: white;
    border: none;
    cursor: pointer;
    
}

img[src*="magnify"] {
    max-height: 2em;
    height: 1.75em;
}

form input {
    width: 700px;
    background-color: var(--my-grey);
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    outline: none;
    font-size: 20px;
}

form input:hover, input:focus {
    border: solid 2px black;
}

#profile {
    font-size: 25px;

    display: flex;
    align-items: center;
    gap: 40px;
}

img[src*="bell"] {
    max-height: 1.5em;
}

/* Bottom of header content */

#header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 25px;
}

#intro > .profile-img.user-img {
    width: 85px;
    height: 85px;
}

#intro > div {
    grid-row: 1 / 3;
}

#intro .greeting > p {
    font-size: 18px;
    margin-bottom: 5px;
}

#intro .greeting > p + p {
    font-size: 32px;
}

ul.options {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

ul.options > li > button {
    padding: 12px 40px;
    width: 150px;
    font-size: 22px;
    font-weight: 600;
    color: white;
    background-color: var(--my-blue);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

ul.options > li > button:hover {
    background-color: var(--my-dark-blue);
}

/* Main content */

#main-content {
    background-color: var(--my-grey);
    font-weight: 500;
    padding: 40px 20px;
    line-height: 2;
    font-size: 22px;

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

#projects .card, #announcement-card-container, #trending-card-container {
    background-color: white;
    box-shadow: var(--my-box-shadow);
    border-radius: 10px;
}

#projects {
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: auto 1fr;
}

#project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

#project-card-container > .card {
    min-height: 200px;
    padding: 40px 25px;
    border-left: 10px solid var(--my-gold);
    line-height: 1.25em;

    display: flex;
    flex-direction: column;
}

#project-card-container > .card > p + p, #announcement-card-container > .card > p + p {
    font-weight: 400;
    color: gray;
}

#project-card-container > .card > ul {
    margin-top: auto;
    display: flex;
    gap: 30px;
    justify-content: end;
}

img[src*="eye"], img[src*="star"], img[src*="share"] {
    max-height: 1.75em;
    height: 1.5em;
}

#announcements {
    display: grid;
    grid-template-rows: auto 1fr;
}

#announcement-card-container {
    padding: 0px 30px;
    font-size: 18px;
    line-height: 1.1em;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#announcement-card-container > .card {
    border-bottom: 1px solid var(--my-grey);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#announcement-card-container > .card > p + p {
    min-width: 0;
    min-height: 0;
    max-height: 75px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;

    /* Ellipsis wouldn't appear without this */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#trending {
    display: grid;
    grid-template-rows: auto 1fr;
}

#trending-card-container {
    padding: 0px 30px;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
}

#trending-card-container .card {
    line-height: 1.5em;
    font-size: 18px;
    font-weight: 400;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 25px;
    align-items: center;
}

.trending-profile-info > p + p {
    color: gray;
    text-wrap: nowrap;
}